body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;

    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

.alert {
    color: #dc3545;
    font-weight: bold;
    margin-top: 10px;
}
